<!--
    FILE NAME: footer.html
  DESCRIPTION: 하단의 풋터 바를 정리한 것입니다.
-->

<footer class="footer text-center" id="contact">
  <div class="container">
    <ul class="list-inline mb-5">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="tel:010-2327-8183">
          <i class="fas fa-mobile-alt"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="mailto:bwa1214@hanmail.net">
          <i class="fas fa-envelope"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white" href="https://github.com/mungmoong2">
          <i class="icon-social-github"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Park Sang Hee 2019</p>
  </div>
</footer>
