<!--
    FILE NAME: header.html
  DESCRIPTION: 헤더 부분을 정리하였습니다.
-->

<header class="masthead d-flex">
  <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick.css" />
   <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css" />
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="http://kenwheeler.github.io/slick/slick/slick.min.js"></script>
   <script type="text/javascript">
    $(document).ready(function(){
      $('.multiple-items').slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true,
        arrows: true,
        autoplay: true,
      autoplaySpeed: 5000,
      });
    });
  </script>

    <div class="multiple-items">
       <div><h3>1</h3></div>
       <div><h3>2</h3></div>
       <div><h3>3</h3></div>
       <div><h3>4</h3></div>
       <div><h3>5</h3></div>
       <div><h3>6</h3></div>
   </div>
</header>
