<!--
    FILE NAME: header.html
  DESCRIPTION: 헤더 부분을 정리하였습니다.
-->

<header class="masthead d-flex jarallax">
  <div class="container my-auto text-white">
    <div id='wrap'>
      <div class='inner'>
        <h1 data-splitting='words'>Web Programmer</h1>
        </h3>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
  <div class id="jarallax-container-0">
    <img class="jarallax-img" src="{{ site.baseurl }}/assets/img/bg-masthead.jpg" alt="">
</div>
</header>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
<script src="https://unpkg.com/splitting@1.0.5/dist/splitting.js"></script>
<script>
  Splitting();
</script>
</header>
