<!--
    FILE NAME: header.html
  DESCRIPTION: 헤더 부분을 정리하였습니다.
-->

<header class="masthead d-flex">
  <div id='carousel-example-generic' class='carousel slide' data-ride='carousel'>
    <!-- Indicators -->
    <ol class='carousel-indicators'>
        <li data-target='#carousel-example-generic' data-slide-to='0' class='active'></li>
        <li data-target='#carousel-example-generic' data-slide-to='1'></li>
        <li data-target='#carousel-example-generic' data-slide-to='2'></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class='carousel-inner'>
        <div class='item active'>
            <p>1</p>
        </div>
        <div class='item'>
              <p>2</p>
        </div>
        <div class='item'>
              <p>3</p>
        </div>
    </div>

    <!-- Controls -->
    <a class='left carousel-control' href='#carousel-example-generic' data-slide='prev'>
        <span class='glyphicon glyphicon-chevron-left'></span>
    </a>
    <a class='right carousel-control' href='#carousel-example-generic' data-slide='next'>
        <span class='glyphicon glyphicon-chevron-right'></span>
    </a>
</div>
</header>
